a{
    text-decoration: none;
}
.layout{
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.row{
    display: flex;
    justify-content: start;
}
.row-fit{
    height: 100%;
}
.col-2{
    width: calc(100% / 2);
}
.col-3{
    width: calc(100% / 3);
}

.col-4{
    width: calc(100% / 4);
}

.card{
    border: 1px solid #DFDFDF;
    margin: 5px;
    padding: 5px;
}

.col-middle{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}


.d-fl{
    display: flex;
}
.d-fl-column{
    display: flex;
    flex-direction: column;
}
.d-if{
    display: inline-flex;
}
.fl-center{
    display: flex;
    justify-content: center;
}
.fl-middle{
    display: flex;
    align-items: center;
}
.fl-right{
    display: flex;
    justify-content: flex-end !important;
}

.fl-between{
    justify-content: space-between;
}

.fl-around{
    justify-content: space-around;
}

.fl-bottom{
    flex-direction: column;
    align-items: flex-end !important;
    justify-content: flex-end;
}


.hr-line{
    border: 0;
    border-top: 1px solid #DFDFDF;
}

.heading{
    color: #222;
    font-family: "Lato";
}

.h-1{
    font-size: 72px;
    letter-spacing: 3px;
    font-weight: bold;
}

.h-2{
    font-size: 72px;
    letter-spacing: 3px;
    font-weight: bold;
}

.h-3{
    font-size: 72px;
    letter-spacing: 3px;
    font-weight: regular;
}

.h-4{
    font-size: 72px;
    letter-spacing: 3px;
    font-weight: thin;
}

.h-5{
    font-size: 72px;
    letter-spacing: 0px;
    font-weight: thin;
}

.h-6{
    letter-spacing: 0px;
    font-weight: thin;
}
.m-1{
    margin: 1em;
}
.m-2{
    margin: 4em;
}
.m-6{
    margin: 6em;
}
.m-4{
    margin: 8em;
}

.mt-1{
    margin-top: 1em;
}

.mt-2{
    margin-top: 4em;
}

.mt-3{
    margin-top: 6em;
}

.mt-4{
    margin-top: 8em;
}

.mr-1{
    margin-right: 1em;
}

.mr-2{
    margin-right: 4em;
}

.mr-3{
    margin-right: 6em;
}

.mr-4{
    margin-right: 8em;
}

.mb-1{
    margin-bottom: 1em;
}

.mb-2{
    margin-bottom: 4em;
}

.mb-3{
    margin-bottom: 6em;
}

.mb-4{
    margin-bottom: 8em;
}

.ml-1{
    margin-left: 1em;
}

.ml-2{
    margin-left: 4em;
}

.ml-3{
    margin-left: 6em;
}

.ml-4{
    margin-left: 8em;
}

.p-1{
    padding: 1em;
}
.p-2{
    padding: 4em;
}
.p-6{
    padding: 6em;
}
.p-4{
    padding: 8em;
}

.pt-1{
    padding-top: 1em;
}

.pt-2{
    padding-top: 4em;
}

.pt-3{
    padding-top: 6em;
}

.pt-4{
    padding-top: 8em;
}

.pr-1{
    padding-right: 1em;
}

.pr-2{
    padding-right: 4em;
}

.pr-3{
    padding-right: 6em;
}

.pr-4{
    padding-right: 8em;
}

.pl-1{
    padding-left: 1em;
}

.pl-2{
    padding-left: 4em;
}

.pl-3{
    padding-left: 6em;
}

.pl-4{
    padding-left: 8em;
}

.pb-1{
    padding-top: 1em;
}

.pb-2{
    padding-bottom: 4em;
}

.pb-3{
    padding-bottom: 6em;
}

.pb-4{
    padding-bottom: 8em;
}


.c-white{
    color: #ffffff;
}

.c-red{
    color: #DF193E;
}
.i-fluid{
    max-width: 100%;
    height: auto;
    width: 100%;
}

.t-center{
    width: 100%;
    text-align: center;
}

.t-italic{
    font-style: italic;
}
.menu{
    list-style: none;
    padding: 0;
    margin: 0;
    /* display: flex; */
}
.menu > .m-item{
    display: inline-block;
}

.menu > .m-item > .m-link{
    padding: 5px 10px;
}

.z-1{
    z-index: 1;
}
.z-10{
    z-index: 10;
}

.z-20{
    z-index: 20;
}

.z-30{
    z-index: 30;
}

.z-40{
    z-index: 40;
}

.z-50{
    z-index: 60;
}

.z-60{
    z-index: 70;
}

.z-70{
    z-index: 70;
}
.z-80{
    z-index: 80;
}

.z-90{
    z-index: 90;
}