@font-face {
    font-family: 'Lato';
    src: URL('/css/fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Lato';
    src: URL('/css/fonts/Lato/Lato-Light.ttf') format('truetype');
    font-weight: thin;
}
@font-face {
    font-family: 'Lato';
    src: URL('/css/fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
}
/* 
@font-face {
    font-family: 'Lato';
    src: URL('/css/fonts/Lato/Lato-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato';
    src: URL('/css/fonts/Lato/Lato-Regular.ttf') format('truetype');
} 
*/

@font-face {
    font-family: 'Lato';
    src: URL('/css/fonts/Lato/Lato-Black.ttf') format('truetype');
    font-weight: 900;
}


body{
    padding: 0;
    margin: 0;
    
}
.text-info{
    font-size: 24px;
    line-height: 28px;
    font-family: "Lato";
    font-weight: 400;
}



body{
    
}
/* sections */
.red-page{
    width: 98.75vw;
    height: 950px;
    background-image: linear-gradient(0deg, #eb402c 0%, #d80546 100%);
    position: relative;
}
.top-menu{
    padding-top: 20px;  
    padding-left: 50px;  
}

.menu-items{
    padding-top: 21px;
    padding-right: 50px;
}

.menu-items .m-link:hover{
    color: rgb(226, 226, 226);
}
.menu-items .m-link{
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 400;
    transition: .2s;
    padding: 5px 25px !important;
}

.logo-link{
    padding-top: 21px;
    font-size: 49px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 900;
}

.preview-button:hover{
    box-shadow: 0px 0px 22px 10px rgba(255, 236, 240, 0.8);
}
.preview-button{
    padding: 16px 52px;
    border-radius: 25px;
    box-shadow: 0px 10px 15px rgba(223,27,61,0.3);
    background-color: #ffffff;
    border-color: none !important;
    border:0 ;
    transition: .2s;
    user-select: none;
    z-index: 100;
}


.preview-button-text{
    font-size: 16px;
    color: rgba(223,27,61,0.9);
    font-family: "Lato";
    font-weight: 700;
    user-select: none;
}


.preview-img{
    position: absolute;
    z-index: 10;
}


.white-triangle{
    overflow: hidden;
    bottom: 0;
    left: 0;
    z-index: 1;
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 98.75vw solid transparent;
    border-top: 30vh solid transparent;
    border-bottom: 35vh solid #fff;
}


.messages-layout{
    height: 660px;
    position: relative;
    margin-top: 80px ;
}
.messages-preview{
    position: absolute;
    top: 0;
    left: -45px;

}
.messages-text{
    font-size: 18px;
    line-height: 32px;
    color: #808080;
    font-family: "Lato";
    font-weight: 400;
    z-index: 10;
}


.keep-in-touch-layout {
    position: relative;
    height: 660px;
    position: relative;
    margin-top: 80px;
}

.contact-preview{
    position: absolute;
    top: 0;
    right: -45px;
}


.feedbacks-layout{
    margin-top: 50px;
}



.feedbacks-layout .card{
    position: relative;
    transition: 0.3s;
    top: 0;
}
.feedbacks-layout .card:hover{
    -webkit-box-shadow: -17px 104px 211px -30px rgba(112,112,112,0.79);
-moz-box-shadow: -17px 104px 211px -30px rgba(112,112,112,0.79);
box-shadow: -17px 104px 211px -30px rgba(112,112,112,0.79);
    margin-bottom: 10px;
    top: -20px;
}
.review-arrow-down::before{
    display: inline-block;
    content: '';
    position: absolute;
    bottom: -10px;
    left: 20px;
    height: 0;
    width: 0;
    border-right: 8px solid transparent;
    border-top: 10px solid #DFDFDF;
    border-left: 8px solid transparent;
}
.review-arrow-down::after{
    display: inline-block;
    content: '';
    position: absolute;
    bottom: -9px;
    left: 20px;
    height: 0;
    width: 0;
    border-right: 8px solid transparent;
    border-top: 10px solid #ffffff;
    border-left: 8px solid transparent;
}
.review-text{
    font-size: 18px;
    line-height: 32px;
    color: #a08d8d;
    font-family: "Lato";
    font-weight: 400;
    font-style: italic;
}


.feedbacks-layout  .website-link{
    
    margin-top: 26px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #363636;
    font-family: "Lato";
    font-weight: 700;
    background: -webkit-linear-gradient(rgba(223,27,61,0.9), rgba(223,27,61,0.7));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.review-block{
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    vertical-align: baseline;
}

.img-avatar{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-left: 15px;
    overflow: hidden;
}


.reviewer-info{
    height: 100%;
}

.person-name{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 32px;
    color: #363636;
    font-family: "Lato";
    font-weight: 600;
}

.person-post{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #667386;
    font-family: "Ubuntu";
    font-weight: 400;
}


.features{
    margin-top: 160px;
    height: 517px;
    background-image: linear-gradient(0deg, #eb402c 0%, #d80546 100%);
    position: relative;
}

.features .h-3{
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 34px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 900;
}
.features .left-side .text-info, 
.features .left-side .h-3
{
    text-align: right;
}
.features .right-side .text-info,
.features .right-side .h-3
{
    text-align: left;
}
.features .left-side .text-info,
.features .right-side .text-info{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 400;
}


.features .phone-monitor{
    position: absolute;
    top: -85px;
}



.preview-video{
    position: absolute;
    width: 428px;
    height: 735px;
}


.newsletter-layout{
    margin-top: 220px;
}

.newsletter-layout .h-1{
    font-size: 60px;
    color: #363636;
    font-family: "Lato";
    font-weight: 900;
}

.newsletter-layout .text-info{
    font-size: 18px;
    line-height: 32px;
    color: #808080;
    font-family: "Lato";
    font-weight: 400;
    text-align: center;
}

.subscription-form{
    max-width: 640px; 
}
.subscription-form .input-subscribe{
    padding: 14px 0 14px 30px;
    border-radius: 25px;
    background-color: #f8f8f8;
    font-size: 18px;
    color: #808080;
    font-family: "Lato";
    border: 0;
    width: 400px;
}

.subscription-form .btn-subscribe::before{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: absolute;
    left: -40px;
    top: 0;
    display: inline-block;
    content: '';
    height: 49px;
    width: 40px;
    background-image: linear-gradient(0deg, #eb402c 0%, #d80546 100%);
}
.subscription-form .btn-subscribe{
    display: inline-block;
    position: relative;
    border-top-right-radius: 30px;
    
    border-bottom-right-radius: 30px;
    filter: drop-shadow(0px 10px 15px rgba(223,27,61,0.3));
    background-image: linear-gradient(0deg, #eb402c 0%, #d80546 100%);
    border: 0;
    padding: 14px 65px 14px 20px;
    font-size: 18px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
}
.subscription-form .btn-subscribe:hover{
    animation-name:btnRoller;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes btnRoller  {
    from {
        filter: drop-shadow(0px 10px 15px rgba(223,27,61,0.3));
    }
    to{
        filter: drop-shadow(0px 10px 15px #eb402c);
        background-image: linear-gradient(90deg,  #d80546 0%, #eb402c 100%) !important;
    }
}




.download-app{
    height: 700px;
}
.download-app > .download-app-layout{
    
}





.footer .layout-fluid{
    height: 102px;
}
.bottom-menu{
    padding-left: 50px;  
    padding-right: 50px;  
}

.bottom-menu-items{
    padding-right: 50px;
}

.bottom-menu-items .m-link:hover{
    color: #000;
}
.bottom-menu-items .m-link{
    font-size: 18px;
    line-height: 28px;
    color: #464646;
    font-family: "Lato";
    font-weight: 600;
    text-transform: uppercase;
    transition: .2s;
    
}


.language-block{
    position: relative;
    width: 180px;
}



.language-button:hover + div.language-dropdown > .lang-item{

}
.language-button:hover,
.language-dropdown:hover + .language-button {
    border-radius: 0;
}
.language-button:hover + div.language-dropdown, 
.language-dropdown:hover{
    height: auto;
    flex-direction: column;
    max-height: auto !important;
    overflow-y: auto;
    border-width: 1px;
    background-color: #f8f8f8;
}
.language-button{
    font-size: 16px;
    line-height: 28px;
    color: #363636;
    font-family: "Lato";
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 30px;
    background-color: #f8f8f8;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    transition: .2s;
}

.language-button > .arrow-down::after{
    content: '^';
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    margin-right: -10px;
}
.language-button > .arrow-down{
    margin-left: 25px;
    position: relative;
}


.language-dropdown{
    width: 100%;
    overflow: hidden;
    height: 0;
    display: flex;
    position: absolute;
    bottom: 38px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    transition: all 1s;

}

.language-dropdown .lang-item{
    display: inline-block;
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    color: #363636;
    font-family: "Lato";
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 30px;
    background-color: #f8f8f8;
    transition: .2s;
}
.language-dropdown .lang-item:hover{
    background-color: #fff;
}



@media only screen and (max-width: 1024px) {
    .layout{
        width: 100%;
        box-sizing: border-box;
    }

    .red-page{
        /* height: auto; */
    }
    .red-page-row{
        align-items: flex-start;
        padding: 20px 10px;
        justify-content: flex-start;
        margin-top: 50px;
        margin-left: 50px;
    }
    .red-page-h1{
        margin-top: 20px;
        font-size: 48px;
    }
    .preview-img{
        position: static;
        width: 100%;
    }
    .messages-preview, .contact-preview{
        position: static;
        width: 100%;
    }

    .keep-in-touch-layout{
        padding: 20px 10px;
    }

    .features, .features-layout{
        height: auto;
        width: 100%;
        padding: 20px 10px;

    }

    .features-layout .row-fit{
        flex-direction: column;

    }

    .features-layout > .row > .col-4,
    .features-layout > .row > .col-3
    {
        margin-top: 50px;
        width: 100% ;
        justify-content: center;
        padding-left: 0;
    }
    .feature1 {
        padding-right: 10px;
    }
    .features .phone-monitor {
        position: static;
        width: 100%;
    }


    .subscription-form {
        justify-content: center;
    }
}
@media only screen and (max-width: 720px) {
    /* Mobile screen */
    .layout{
        width: 100%;
        box-sizing: border-box;
    }

    .red-page{
        height: auto;
    }
    .red-page-row{
        height: 860px;
        padding: 20px 10px;
        flex-direction: column;
        justify-content: flex-start;
    }
    .red-page-row .col-2{
        width: auto;
    }
    .top-menu{
        
    }

    .menu-items{
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }
    .red-page-h1{
        margin-top: 20px;
        font-size: 48px;
    }
    .preview-button{
        margin-top: 30px;
    }
    .preview-img{
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -250px;
    }


    .messages-layout {
        margin-top: 200px;
        height: auto;
    }
    .messages-layout > .row-fit{
        flex-direction: column-reverse;
        
    }

    .messages-preview{
        width: 100%;
        position: static;
    }

    
    .messages-layout > div .col-2{
        width: auto;
        padding: 20px 10px;
    }
    .messages-layout > div .col-2 .h-1{
        font-size: 48px;
    }


    .keep-in-touch-layout {
        margin-top: 100px;
        height: auto;
    }
    .keep-in-touch-layout > .row-fit{
        flex-direction: column;
        
    }

    .contact-preview{
        width: 100%;
        position: static;
    }

    
    .keep-in-touch-layout > div .col-2{
        width: auto;
        padding: 20px 10px;
    }
    .keep-in-touch-layout > div .col-2 .h-1{
        font-size: 48px;
    }



    .feedbacks-layout{
        height: auto;
        width: 100%;

    }


    .feedbacks-layout .row {
        flex-direction: column;
    }

    .feedbacks-layout .h-1{
        font-size: 48px;
    }
    .feedbacks-layout .row > .col-3{
        width: 100%;
        margin-top: 42px;
    }

    .card{
        z-index: 10;
    }




    .features, .features-layout{
        height: auto;
        width: 100%;
        padding: 20px 0;
    }

    .features-layout .row-fit{
        flex-direction: column;

    }

    .features-layout > .row > .col-4,
    .features-layout > .row > .col-3
    {
        margin-top: 50px;
        width: 100% ;
        justify-content: center;
        padding-left: 0;
    }
    .feature1 {
        padding-right: 10px;
    }
    .features .phone-monitor {
        position: static;
        width: 100%;
    }


    .newsletter-layout{
        margin-top: 50px;
    }


    .newsletter-layout .h-1{
        font-size: 48px;
    }

   
    .newsletter-layout .col-2{
        width: 100%;
    }
    .newsletter-layout .subscription-form {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    .newsletter-layout .subscription-form .input-block{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .newsletter-layout .subscription-form .input-subscribe{
        width: 100%;
    }


    .download-app-layout{
        padding-left: 10px;
    }
    .download-app-layout .col-4{
        width: 100%;
        justify-content: center;
        text-align: center;
        
    }
    .download-app-layout .h-1{
        font-size: 48px;
    }



    .footer .layout-fluid {
        height: auto;
        padding: 20px 0;
    }

    .footer .col-2{
        width: 50%;
    }

    
    .bottom-menu {
        padding-left: 20px;
        padding-right: 20px;
    }
    .bottom-menu li {
        margin-top: 10px;
    }
    /* Mobile screen */
}